# .gitignore in the dev branch

# mac specific - subset of https://github.com/github/gitignore/blob/main/Global/macOS.gitignore
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

#gcp service account keys
gha-creds-*.json


